.setcarousel div{
    display: inline !important;
}

.nav-tabs{
    border-bottom:none;
}

.nav-tabs.links .nav-link{
    border: none !important;
    /* padding: none !important; */
}

.section-title h3{
    font-size: 36px;
}
.hello .slick-next:before {
    font-size: 25px !important;
    color: #3bb77e;
    
}
.hello .slick-prev:before{
    font-size: 25px !important;
    color: #3bb77e;
                                                                  
}
.hello .slick-prev{
    bottom:10px !important;
}
.hello .slick-slide {
    margin-right:12px;
    margin-left:12px;
    height: 180px !important;
}
