a{
    text-decoration: none;
    /* color: #3bb77e !important; */
}

.btn-xs{
    background-color: #3bb77e;
    color: #fff;
}

.btn-xs:hover{
    /* background-color: #3bb77e; */
    color: #fff;
}

.add{
    color: #3bb77e;
}
.hero-slider-1 .slick-dots li button:before {
    content: '' !important;
}
