.slider-2 .slick-next:before {
    font-size: 36px !important;
    color: rgb(95, 95, 95);
}
.slider-2 .slick-prev:before{
    font-size: 36px !important;
    color: rgb(95, 95, 95);
                                                                  
}
.slider-2 .slick-prev{
    bottom:10px !important;
}
.slider-2 .slick-slide {
    margin-right:12px;
    margin-left:12px;

}
.slider-2 .product-cart-wrap{
height: 450px;
}

