.sticky-bar {-webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border-bottom: 2px solid #FDC040;
    background: #fff;}
